<h1 mat-dialog-title>Crear Computadora</h1>
<div mat-dialog-content>
  <div class="tab-content pt-3">
    <div class="tab-pane active">
      <form class="form" novalidate="">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Nombre de Host</label>
                  <input class="form-control" type="text" name="Nombre de Host" placeholder="Nombre de host"
                    value="{{ data.data?.hostName}}" [(ngModel)]="data.data.hostName" [readonly]="data?.edit">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Serial del CPU</label>
                  <input class="form-control" type="text" name="Serial del Cpu" placeholder="Serial Cpu"
                    value="{{ data.data?.serialCpu}}" [(ngModel)]="data.data.serialCpu" [readonly]="data?.edit">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Serial del Monitor</label>
                  <input class="form-control" type="text" name="Serial del Monitor" placeholder="Serial Monitor"
                    value="{{ data.data?.serialMonitor}}" [(ngModel)]="data.data.serialMonitor" [readonly]="data?.edit">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Serial del teclado</label>
                  <input class="form-control" type="text" name="serialKeyboard" placeholder="Serial Teclado"
                    value="{{ data.data?.serialKeyboard }}" [(ngModel)]="data.data.serialKeyboard" [readonly]="data?.edit">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Código de bien CPU</label>
                  <input class="form-control" type="text" name="codeCpu" placeholder="Código CPU"
                    value="{{ data.data?.codeCpu }}" [(ngModel)]="data.data.codeCpu" [readonly]="data?.edit">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Código de bien Monitor</label>
                  <input class="form-control" type="text" name="codeMonitor" placeholder="Código Monitor"
                    value="{{ data.data?.codeMonitor }}" [(ngModel)]="data.data.codeMonitor" [readonly]="data?.edit">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Código de bien Teclado</label>
                  <input class="form-control" type="text" name="codeKeyboard" placeholder="Código Teclado"
                    value="{{ data.data?.codeKeyboard }}" [(ngModel)]="data.data.codeKeyboard" [readonly]="data?.edit">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Modelo</label>
                  <input class="form-control" type="text" name="model" placeholder="Modelo"
                    value="{{ data.data?.model }}" [(ngModel)]="data.data.model" [readonly]="data?.edit">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Disco duro</label>
                  <input class="form-control" type="text" name="hardDrive" placeholder="Capacidad"
                    value="{{ data.data?.hardDrive }}" [(ngModel)]="data.data.hardDrive" [readonly]="data?.edit">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>RAM</label>
                  <input class="form-control" type="text" name="ram" placeholder="Cantidad"
                    value="{{ data.data?.ram }}" [(ngModel)]="data.data.ram" [readonly]="data?.edit">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Procesador</label>
                  <input class="form-control" type="text" name="processor" placeholder="Procesador"
                    value="{{ data.data?.processor }}" [(ngModel)]="data.data.processor" [readonly]="data?.edit">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Sistema operativo</label>
                  <input class="form-control" type="text" name="operativeSystem" placeholder="Sistema operativo"
                    value="{{ data.data?.operativeSystem }}" [(ngModel)]="data.data.operativeSystem" [readonly]="data?.edit">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Detalles</label>
                  <textarea class="form-control" type="text" name="details" placeholder="Detalles"
                    value="{{ data.data?.details }}" [(ngModel)]="data.data.details" [readonly]="data?.edit"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Observaciones</label>
                  <textarea class="form-control" type="text" name="observations" placeholder="Observaciones"
                    value="{{ data.data?.observations }}" [(ngModel)]="data.data.observations" [readonly]="data?.edit"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cerrar</button>
  <button mat-button cdkFocusInitial [mat-dialog-close]="data.data" *ngIf="!data?.edit">Guardar</button>
</div>
