<h1 mat-dialog-title>Ticket</h1>
<div mat-dialog-content>
  <div class="container">
    <div class="row">
      <div>
        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid" novalidate>
          <div class="card card-margin">
            <div class="card-body pt-0">
              <div class="widget-49">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>Asunto</label>
                      <input class="form-control" type="text" name="Asunto" placeholder="Asunto del ticket"
                        value="{{ data?.subject }}" [(ngModel)]="data.subject" required maxlength="30" minlength="3" #subject="ngModel">
                    </div>
                  </div>
                </div>
                <div class="alert-danger row" *ngIf="subject.errors">
                  <div *ngIf="subject.errors['required']">Debe ingresar un asunto.</div>
                  <div *ngIf="subject.errors['minlength'] || subject.errors['maxlength']">El asunto debe tener al menos 3 caracteres y no mas de 30 caracteres.</div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>Descripción</label>
                      <textarea class="form-control" type="text" name="description" placeholder="Descripción"
                        value="{{ data?.description }}" [(ngModel)]="data.description" required #description="ngModel"></textarea>
                    </div>
                  </div>
                </div>
                <div class="alert-danger row" *ngIf="description.errors">
                  <div *ngIf="description.errors['required']">Debe ingresar una descripción.</div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial [mat-dialog-close]="data" type="submit" [disabled]="!f.form.valid">Enviar</button>
  <button mat-button (click)="onNoClick()">Cerrar</button>
</div>

