<h1 mat-dialog-title>Comentario</h1>
<div mat-dialog-content>
  <div class="container">
    <div class="row">
      <div>
        <div class="card card-margin">
          <div class="card-body pt-0">
            <div class="widget-49">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>Asunto</label>
                    <input class="form-control" type="text" name="Asunto" placeholder="Asunto del comentario"
                      value="{{ data?.subject }}" [(ngModel)]="data.subject">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>Mensaje</label>
                    <textarea class="form-control" type="text" name="description" placeholder="Mensaje"
                      value="{{ data?.message }}" [(ngModel)]="data.message"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial [mat-dialog-close]="data">Enviar</button>
  <button mat-button (click)="onNoClick()">Cerrar</button>
</div>

