<h1 mat-dialog-title>Ticket Id: {{ data?.id }}</h1>
<div mat-dialog-content>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Comentario">
      <div class="container">
        <div class="row">
          <div>
            <div class="card card-margin">
              <div class="card-header no-border">
                <h5 class="card-title">{{ data?.subject }}</h5>
              </div>
              <div class="card-body pt-0">
                <div class="widget-49">
                  <div class="widget-49-title-wrapper">
                    <div class="widget-49-meeting-info">
                      <span class="widget-49-pro-title"><mat-slide-toggle color="primary" [checked]="data?.state"
                          disabled></mat-slide-toggle></span>
                      <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Descripción</label>
                        <textarea class="form-control" type="text" name="description" placeholder="Descripciones"
                          value="{{ data?.description }}" [(ngModel)]="data.description" [readonly]="true"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Respuesta">
      <div class="tab-content pt-3" *ngIf="data?.response">
        <div class="tab-pane active">
          <form class="form" novalidate="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>ID: {{ data?.response?.id }} Asunto</label>
                      <textarea class="form-control" type="text" name="Asunto" placeholder="Asunto"
                        value="{{ data?.response?.subject }}" [(ngModel)]="data.response.subject"
                        [readonly]="true"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>Mensaje</label>
                      <textarea class="form-control" type="text" name="Mensaje" placeholder="Mensaje"
                        value="{{ data?.response?.details }}" [(ngModel)]="data.response.details"
                        [readonly]="true"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <h1>Responsable</h1>
        <div class="tab-pane active">
          <form class="form" novalidate="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>Email</label>
                      <input class="form-control" type="text" name="Email" placeholder="Email"
                        value="{{ data?.response?.email }}" [(ngModel)]="data.response.email" [readonly]="true">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>Nombre</label>
                      <input class="form-control" type="text" name="Nombre" placeholder="Nombre"
                        value="{{ data?.response?.firstName }}" [(ngModel)]="data.response.firstName" [readonly]="true">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>Apellido</label>
                      <input class="form-control" type="text" name="Apellido" placeholder="Apellido"
                        value="{{ data?.response?.lastName }}" [(ngModel)]="data.response.lastName" [readonly]="true">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>Rol</label>
                      <input class="form-control" type="text" name="Rol" placeholder="Rol"
                        value="{{ data?.response?.role }}" [(ngModel)]="data.response.role" [readonly]="true">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cerrar</button>
  </div>
