<h1 mat-dialog-title>Comentario Id: {{ data?.id }}</h1>
<div mat-dialog-content>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Comentario">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card card-margin">
              <div class="card-header no-border">
                <h5 class="card-title">{{ data?.subject }}</h5>
              </div>
              <div class="card-body pt-0">
                <div class="widget-49">
                  <div class="widget-49-title-wrapper">
                    <div class="widget-49-meeting-info">
                      <span class="widget-49-pro-title"><mat-slide-toggle color="primary" [checked]="data?.state" disabled></mat-slide-toggle></span>
                      <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Mensaje</label>
                        <textarea class="form-control" type="text" name="observations" placeholder="Observaciones"
                          value="{{ data?.message }}" [(ngModel)]="data.message" [readonly]="true"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Respuesta">Content 2</mat-tab>
  </mat-tab-group>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cerrar</button>
  </div>
