
  <div class="alert alert-success" style="margin:auto;">

    <mat-card style="margin:auto;">
      <img src="https://esfot.epn.edu.ec/images/headers/logo_epn.svg" style="width:14%;" />
      <img src="https://esfot.epn.edu.ec/images/headers/logo_esfot_buho.png"
        style="position:relative; width:13%; margin-left:86.5%; margin-top:-8.7%;" />
      <h4 style="margin:auto; color:#203749;"><strong>Bienvenido a BOTICS </strong></h4>
      <br>

      <img src="../assets/img/BOTICS.png" style="width:28%; margin:auto; position: relative;" />
      <br>
      <br>
      <h4 style="margin:auto; text-align: center; color:#1f2c36;"><strong>Continúa navegando por los módulos asignados a
          tu cargo.</strong></h4>
      <br>
      <br>
      <br>
      <br>
      <br>

    </mat-card>

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Continuar</button>
  </div>
