
<div class="input-group">
  <div class="form-outline">
    <input [(ngModel)]="searchTerm" placeholder="Buscar tickets" type="search" id="form1" class="form-control" />
  </div>
  <button type="button" class="btn btn-primary" matPrefix (click)="filterTickets(searchTerm)">
    <i class="fa fa-search"></i>
  </button>
</div>
<br>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="tickets">

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="Last Name">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="Role">
      <th mat-header-cell *matHeaderCellDef> Rol </th>
      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab color="primary" (click)="ticketDetails(element)">
          <mat-icon>chat</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="ticketResponse(element.id)" *ngIf="(routes === '/pasante-tickets') && !(element.state)">
          <mat-icon>reply</mat-icon>
        </button>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
