/* *{margin: 0;padding: 0;box-sizing: border-box;}
body{background: #eee;font-family: sans-serif;}
.flexone{flex: 1;}

.groups{margin: 0 auto;width: 1010px;padding: 10px;height: auto; margin-left:22%; margin-top:45px;}
.groups li{position: relative;list-style: none;background: #fff;border-radius: 5px;
    box-shadow: 0 3px 4px 0 #0001;overflow: hidden;margin-bottom: 30px;transition: all 0.3s;}

.groups .card{overflow: hidden;display: block;}
.groups .image-session{float: left;overflow: hidden;margin-right: 20px;}
.groups .image-session .image{width: 430px;height: 220px;display: block;background-size: cover;
    background-position: center;}
.groups .meta-sission{position: relative;padding: 15px;display: block;height: 220px;}
.groups .meta-sission .head{display: flex;margin-bottom: 10px;}

.meta-sission .head .per span,
.meta-sission .head .per input{display: block;font-size: 10px;text-align: right;}
.meta-sission .head .per input{-webkit-appearance: none;height: 10px;border-radius: 5px;background: #0001;
    margin-bottom: 4px;overflow: hidden;}
.meta-sission .head .per input::-webkit-slider-thumb{-webkit-appearance: none;width: 0;
    box-shadow: -100px 0 0 100px #0075ff;}
.groups .body .title{height: 60px;overflow: hidden;font-size: 24px;}
.groups .body .desc{height: 80px;overflow: hidden;margin-bottom: 10px;font-size: 13px;}
.groups .footer .button{position: absolute;bottom: 20px;right: 25px;background: #0075ff;color: #fff;
    line-height: 2.2;padding: 0 20px;border-radius: 50px;text-decoration: none;
    box-shadow: 0 1px 6px 0 #0004;transition: all 0.3s;}


@media screen and (max-width:780px){.groups{    width: 96%;}
    .groups li:hover{    transform: none;    box-shadow: none;}
}
@media screen and (max-width:560px){.groups .image-session{    float: none;    margin-right: 0;}
    .groups .image-session .image{width: 100%;}
} */



.container1{
    width: 100%;
    max-width: 1250px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
}

.container1 .card1{
    width: 350px;
    height: 400px;
    background:white;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.container1 .card1{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container1 .card1:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container1 .card1 img{
    width: 350px;
    height: 220px;
}


.container1 .card1 h4{
    font-weight: 600;
}

.container1 .card1 p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container1 .card1 a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}






.container2{
  width: 100%;
  max-width: 1250px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:auto;
}

.container2 .card2{
  width: 350px;
  height: 400px;
  background:white;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.container2 .card2{
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.container2 .card2:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container2 .card2 img{
  width: 350px;
  height: 220px;
}


.container2 .card2 h4{
  font-weight: 600;
}

.container2 .card2 p{
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.container2 .card2 a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
}







*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



  html{
    scroll-behavior: smooth;
  }

  body{
    font-family: 'Raleway', sans-serif;
  }

  .hero{
    background-image: linear-gradient(120deg, rgba(241, 147, 251, 0.699) 0%, rgba(85, 27, 35, 0.692) 100%), url("src/assets/img/header.jpg");
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
  }

  .textos-hero{
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textos-hero h1{
    font-size: 60px;
  }

  .textos-hero p{
    font-size: 25px;
    margin-bottom: 20px;
  }

  .textos-hero a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: #a18cd1;
    border-radius: 8px;
    color: #fff;
  }

  .svg-hero{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  /* Estilos generales */

  .contenedor,
  .wave-contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
  }
  .contenedor{
    padding: 80px 0;
  }

  .titulo{
    font-weight: 300;
    font-size: 35px;

    text-align: center;
    margin-bottom: 30px;
  }

  .titulo.left{
    text-align: left;
  
  }

  .titulo.right{
    text-align: right;
  }

  /* Section */

  .website{
    display: flex;
    justify-content: space-between;
  }

  .website img{
    width: 48%;
  }

  .website .contenedor-textos-main{
    width: 40%;
  }

  .parrafo{
    text-align: justify;
    margin-bottom: 20px;
  }

  .cta{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(45deg, #2a506d 0%, #c4d3fa 100%);
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
  }

  /* Info */

  .info{
    background: #2a506d;
    color: #fff;
    height: 165px;
    margin:auto;
  }


  /* Cards */

  .content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .card{
    width: 30%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
  }

  .card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
  }

  .card i{
    margin: 30px 0 20px 0;
    color: #cc9199;
    font-size: 50px;
  }

  .card p{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
  }

  /* galeria */

  .galeria{
    background: #f2f2f2;
  }

  .galeria-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
  }

  .galeria-cont>img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
    overflow: hidden;
  }

  /* info2 */

  .last-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  .last-section img{
    width: 48%;
  }

  .last-section .contenedor-textos-main{
    width: 40%;
  }


  /* footer */

  footer{
    
  }

  .form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .input{
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    border: 1px  solid #fff;
    padding: 20px 10px;
  }

  .input::placeholder{
    color: #fff;
    font-family: 'raleway', 'sans-serif';
  }

  input[type="text"],
  input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
  }

  .form textarea{
    width: 100%;
    margin-bottom: 15px;
  }

  input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 14px 0;
  }

  input[type="submit"]:hover{
    cursor: pointer;
    color: tomato;
    background: #fff;
  }

  @media screen and (max-width:800px){
    .textos-hero h1{
        text-align: center;
        font-size: 50px;
    }
    /* estilos generales */
    .titulo{
        font-size: 35px;
    }

    .titulo.left{
        text-align: center;
    }

    .info p{
        text-align: center;
    }

    /* section */
    .website{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .website img{
        width: 100%;
    }

    .website .contenedor-textos-main{
        width: 100%;
    }

    /* Cards */

    .card{
        width: 90%;
        margin-bottom: 20px;
    }

    /* galeria */

    .galeria-cont>img{
        width: 48%;
    }

    /* last */

    .last-section img{
        width: 98%;
    }

    .last-section .contenedor-textos-main{
        width: 98%;
        margin-bottom: 20px;
    }


  }

  @media screen and (max-width:400px){
    .titulo,
    .textos-hero h1{
        font-size: 30px;
    }

    .textos-hero p{
        font-size: 20px;
        text-align: center;
    }

    .card{
        height: 380px;
    }

    .website .contenedor-textos-main{
        margin-bottom: 30px;
    }

    .galeria-cont>img{
        width: 97%;
    }
  }


  body {
    background-image: radial-gradient( circle 767px at 10.2% 22.1%,  rgba(11,218,81,1) 0%, rgba(0,191,255,1) 90% );
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttons {
    min-width: 650px;
    display: flex;
    justify-content: space-evenly;
   
 
    
  }
  
  .buttons a {
    flex-wrap: wrap;
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
  .buttons a:hover {
    transform: scale(1.2);
  }









