
<mat-card class="example-card">
  <mat-card-header>

    <mat-card-title>Este módulo te permite:</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <h6>{{ longText }}</h6>

  </mat-card-content>


</mat-card>
<br>

<div class="input-group">
  <div class="form-outline">
    <input [(ngModel)]="searchTerm" placeholder="Buscar computadora" type="search" id="form1" class="form-control" />
  </div>
  <button type="button" class="btn btn-primary" matPrefix (click)="filterComputers(searchTerm)">
    <i class="fa fa-search"></i>
  </button>
</div>
<br>

<div *ngIf="!(routes === '/lab-computadoras')">
  <button mat-raised-button color="primary" (click)="openDialogeCreate()">Crear</button>
</div>
<div *ngIf="routes === '/lab-computadoras'">
  <button mat-raised-button color="primary" (click)="openDialogeCreateOnly()">Crear</button>
</div>
<br>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="computers">

  

    <ng-container matColumnDef="Host Name">
      <th mat-header-cell *matHeaderCellDef> <strong>Host Name</strong> </th>
      <td mat-cell *matCellDef="let element"> {{element.hostName}} </td>
    </ng-container>

    <ng-container matColumnDef="Serial del CPU">
      <th mat-header-cell *matHeaderCellDef> <strong>Serial del CPU </strong> </th>
      <td mat-cell *matCellDef="let element"> {{element.serialCpu}} </td>
    </ng-container>

    <ng-container matColumnDef="Serial del Monitor">
      <th mat-header-cell *matHeaderCellDef> <strong>>Serial del Monitor </strong></th>
      <td mat-cell *matCellDef="let element"> {{element.serialMonitor}} </td>
    </ng-container>

    <ng-container matColumnDef="Referencia de laboratorio">
      <th mat-header-cell *matHeaderCellDef> <strong>Laboratorio al que pertenece </strong> </th>
      <td mat-cell *matCellDef="let element"> {{element.labReference}} </td>
    </ng-container>

    <ng-container matColumnDef="Estado">
      <th mat-header-cell *matHeaderCellDef> <strong>Activar/Desactivar</strong> </th>
      <td mat-cell *matCellDef="let element"><mat-slide-toggle color="primary" [checked]="element.state" (change)="toggleChange($event, element.id)"></mat-slide-toggle></td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="openDialogeShow(element)"><mat-icon>visibility</mat-icon></button>
        <button mat-icon-button color="blank" (click)="openDialogeEdit(element)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn" (click)="delete(element.id, element.hostName)"><mat-icon>delete_forever</mat-icon></button>
        <button mat-button color="accent" *ngIf="routes === '/lab-computadoras' && element.labReference === 0" (click)="openDialogeAssign(element.id, element.labReference)">Asignar</button>
        <button mat-button color="accent" (click)="unassign(element.id, element.labReference)" *ngIf="!(element.labReference === 0)">Desasignar</button>
        <button mat-button color="accent" (click)="openDialogeChange(element.id, element.labReference)" *ngIf="!(element.labReference === 0)">Cambiar</button>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
