<ng-container *ngIf="loading$ | async">

  <div class="overlays" >
    <h6 style="margin-bottom: 50%;margin-left:47%; margin-top:26%">Cargando...</h6>
    <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
  </div>




</ng-container>
<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
  <app-sidebar *ngIf="isLoggedIn"></app-sidebar>
  <main class="page-content">
    <div class="">
      <div class="">
          <div class="">
              <div>
                  <div id="app">
                    <nav class="navbar navbar-expand navbar-dark " style="height:68px; background-color:#2a506d">
                      <a href="/" *ngIf="!isLoggedIn" class="navbar-brand">BOTICS</a>
                      <button mat-icon-button background-color="white" *ngIf="isLoggedIn" aria-label="Example icon button with a menu icon" (click)="toggleSidebar()">
                        <mat-icon>menu</mat-icon>
                      </button>
                      <ul class="navbar-nav mr-auto" routerLinkActive="active">

                        <li class="nav-item" *ngIf="listL">
                          <a href="/laboratorios" class="navbar-brand"  routerLink="laboratorios"><h6><strong>Laboratorios</strong></h6></a>
                        </li>

              </ul>

                      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
                        <li class="nav-item">
                          <a href="/register" class="navbar-brand" routerLink="register"><h6><strong>Registrarse</strong></h6></a>
                        </li>
                        <li class="nav-item">
                          <a href="/login" class="navbar-brand" routerLink="login"><h6><strong>Iniciar Sesión</strong></h6></a>
                        </li>
                      </ul>

                      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
                        <li class="nav-item">
                          <a href="/profile" class="navbar-brand" routerLink="profile"><h6><strong>{{ username }}</strong></h6></a>
                        </li>
                        <li class="nav-item">
                          <a href class="navbar-brand" (click)="logout()"> <h6><strong>Cerrar sesión</strong></h6></a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
          </div>
      </div>
    </div>
    <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>





    <div class="content-container" >
      <router-outlet></router-outlet>
      
    </div>


  </main>
</div>
