<body>
  <div class="col-md-12">

    <div class="contenedor-formulario contenedor">
      <div class="imagen-formulario" *ngIf="!isLoggedIn">

      </div>

      <form class="formulario" *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate>
          <div class="texto-formulario">
              <h3><strong>Bienvenido de nuevo</strong></h3>
              <h6 style="text-align:center;">Inicia sesión con tu cuenta</h6>
          </div>
          <div class="input">
              <label for="usuario"><h5><strong>Nombre de usuario </strong></h5></label>
              <input placeholder="Ingresa tu nombre o email"  type="text"
              class="form-control"
              name="username"
              [(ngModel)]="form.username"
              required
              #username="ngModel">

              <div

            class="alert alert-danger"
            role="alert"
            *ngIf="username.errors && f.submitted"
          >
            !El nombre de usuario es obligatorio!
          </div>
          </div>


          <div class="input">
              <label for="contraseña"><h5><strong>Contraseña </strong></h5></label>
              <input placeholder="Ingresa tu contraseña" type="password"
            class="form-control"
            name="password"
            [type]="changetype?'password':'text'"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel">

            <span class="eyeicon" style="width:20px;" (click)="viewpass()"><i
              [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i></span>

            <div
            class="alert alert-danger"
            role="alert"
            *ngIf="password.errors && f.submitted"
          >
            <div *ngIf="password.errors['required']">La contraseña es obligatoria</div>
            <div *ngIf="password.errors['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
          </div>


          <div class="password-olvidada">
              <a href="restablecer-contraseña" style="text-align:center;"><h6 ><strong>¿Olvidaste tu contraseña?</strong></h6></a>
          </div>
          <div class="form-group">
          <button class="btn btn-primary btn-block input" style=" border-radius: 40px;">
            Iniciar sesión
          </button>
        </div>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed"
          >
            Fallo de inicio de sesión: {{ errorMessage }}
          </div>
        </div>
      </form>

  </div>
  </div>

  </body>
  <div class="alert alert-success" *ngIf="isLoggedIn" style="margin:auto;" >

    <mat-card style="margin:auto;">
      <img src="https://esfot.epn.edu.ec/images/headers/logo_epn.svg" style="width:14%;"/>
      <img src="https://esfot.epn.edu.ec/images/headers/logo_esfot_buho.png" style="position:relative; width:13%; margin-left:86.5%; margin-top:-8.7%;"/>
      <h4 style="margin:auto; color:#203749;"><strong>Bienvenido a BOTICS  </strong></h4>
      <br>

      <img src="../assets/img/BOTICS.png" style="width:28%; margin:auto; position: relative;"/>
      <br>
      <br>
      <h4 style="margin:auto; text-align: center; color:#1f2c36;"><strong>Continúa navegandopor lo módulos asignados a tu cargo.</strong></h4>
    <br>
    <br>
    <br>
    <br>
    <br>

    </mat-card>

  </div>
