<div class="container">
  <div class="row flex-lg-nowrap">
    <div class="col">
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-body">
              <div class="e-profile">
                <div class="row">
                  <div class="col-12 col-sm-auto mb-3">
                    <div class="mx-auto" style="width: 140px;">
                      <div class="d-flex justify-content-center align-items-center rounded"
                        style="height: 140px; background-color: rgb(233, 236, 239);">
                        <input class="form-control" type="file"
                                (change)="onChange($event)">
                        <img class="rounded" *ngIf="profile.avatar" style="width: 140px; height: 140px;" src="{{ profile?.avatar?.path }}" >
                        <span *ngIf="!profile.avatar" style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                      </div>
                    </div>
                  </div>
                  <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                      <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{ profile?.username }}</h4>
                      <p class="mb-0">{{ profile?.email }}</p>
                      <div class="mt-2">
                        <button class="btn btn-primary" type="button" (click)="updateAvatarProfile()">
                          <i class="fa fa-fw fa-camera"></i>
                          <span>Cambiar foto</span>
                        </button>
                      </div>
                    </div>
                    <div class="text-center text-sm-right">
                      <span class="badge badge-secondary" *ngFor="let role of profile?.roles">{{ role?.name }}</span>
                      <div class="text-muted"><small>{{profile?.createdAt | date:'medium'}}</small></div>
                    </div>
                  </div>
                </div>
                <ul class="nav nav-tabs">
                  <li class="nav-item"><a class="active nav-link">Perfil</a></li>
                </ul>
                <div class="tab-content pt-3">
                  <div class="tab-pane active">
                    <form class="form" name="form" #f="ngForm" (ngSubmit)="f.form.valid" novalidate>
                      <div class="row">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Nombre</label>
                                <input class="form-control" type="text" name="name" placeholder="Nombre"
                                  value="{{ profile?.firstName }}" [(ngModel)]="profileInfo.firstName" required maxlength="30" minlength="3" #name="ngModel">
                              </div>
                              <div class="alert-danger row" *ngIf="name.errors">
                                <div *ngIf="name.errors['required']">Debe ingresar su nombre.</div>
                                <div *ngIf="name.errors['minlength'] || name.errors['maxlength']">El nombre debe tener al menos 3 caracteres y no mas de 30 caracteres.</div>
                              </div>
                              <br>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>Apellido</label>
                                <input class="form-control" type="text" placeholder="Apellido"
                                  value="{{ profile?.lastName }}" [(ngModel)]="profileInfo.lastName" name="lastName" required maxlength="30" minlength="3" #lastName="ngModel">
                              </div>
                              <div class="alert-danger row" *ngIf="lastName.errors">
                                <div *ngIf="lastName.errors['required']">Debe ingresar su apellido.</div>
                                <div *ngIf="lastName.errors['minlength'] || lastName.errors['maxlength']">El apellido debe tener al menos 3 caracteres y no mas de 30 caracteres.</div>
                              </div>
                              <br>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>Ext.</label>
                                <input class="form-control" type="number" placeholder="Extensión"
                                  value="{{ profile?.extension }}" [(ngModel)]="profileInfo.extension" name="extension" required maxlength="4" minlength="4" #extension="ngModel">
                              </div>
                              <div class="alert-danger row" *ngIf="extension.errors">
                                <div *ngIf="extension.errors['required']">Debe ingresar una extensión.</div>
                                <div *ngIf="extension.errors['minlength'] || extension.errors['maxlength']">La extensión debe tener 4 dígitos.</div>
                              </div>
                              <br>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col d-flex justify-content-end">
                          <button class="btn btn-primary" (click)="updateInfoProfile()" type="submit" [disabled]="!f.form.valid">Save Changes</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
